<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.haruki.lab4.mapper.GoodsMapper">
    <select id="getProductById" resultType="com.haruki.lab4.model.PO.ProductPO">
        select * from product
        where id=#{id}
    </select>

    <select id="getGoodsInfoById" resultType="com.haruki.lab4.model.PO.GoodsPO">
        select * from goods
        where id=#{id}
    </select>

    <select id="getProductByGoodsID" resultType="com.haruki.lab4.model.PO.ProductPO">
        select * from product
        where goods_id=#{goods_id}
    </select>
</mapper>